@media all and (min-width: 1441px){
    .footer{
        .ctn-footer{
            .flex-ctn-footer{
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
