$pink-20: #FFD3DB;
$pink-80: #FE6A84;
$pink-90: #F35D78;
$black: #000;
$white:#fff;
$gray-10: #EDEDED;
$gray-20: #D8D8D8;
$gray-50: #858484;
$gray-100: #5A5A5A;
$yellow-20: #FFEDB4;
$yellow-80: #FFCD29;
$yellow-90: #E7B154;
$red-80: #ff0000;
$red-90: #E42D3C;
$blue: #649DE8;
$brown: #99694C;
$purple: #C88CA4;
$green: #298527;
$font-size-tiny:14px;
$font-size-small:16px;
$font-size-main:20px;
$font-size-regular:20px;
$font-size-medium:24px;
$font-size-large:40px;
$fontmain: 'Quicksand', sans-serif;